.amount-title{
  font-size: 1rem;
}

.divider {
  margin: 12px 0px;
  width: 100%;
  height: 1.4px;
  background: var(--ion-color-medium-tint);
}

.total-amount{
  font-size: 1.2rem;
  font-weight: bolder;
}