canvas {
    border: 3px dashed gray;
}

.img-item {
    // position: relative;
    // .remove-icon{
    //     position: absolute;
    //     right: 12px;
    //     top: 12px;
    //     font-size: 1.6rem;
    //     cursor: pointer;
    // }
    .remove-icon {
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.slider-img-container {
    position: relative;
    ion-icon {
        font-size: 1.8rem;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 16px;
        background: #ffffff47;
        border-radius: 50%;
    }
}

// .backBtn {
//     position: absolute;
//     left: 20;
//     top: 50%;
//     width: 15vw;
//     height: 15vw;
//     border-radius: 50%;
//     border: none;
//     background: white;
// }
// .nextBtn {
//     position: absolute;
//     right: 20;
//     top: 50%;
//     width: 15vw;
//     height: 15vw;
//     border-radius: 50%;
//     border: none;
//     background: white;
// }