<ion-header class="ion-no-border">
  <ion-toolbar class="bg-major-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    

    <ion-title class="hidden-xs-down">先租後買設備</ion-title>

    <ng-container *ngIf="rbb_equipment_id != null">
      <ion-buttons slot="end" *ngIf="readonly">
        <ion-button color="danger" fill="clear" (click)="commonService?.deleteDataAlert(rbb_equipment_data)">
          <ion-icon slot="start" name="trash"></ion-icon>
          刪除
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="readonly">
        <ion-button fill="clear" (click)="readonly = false">
          <ion-icon slot="start" src="assets/icon/edit.svg"></ion-icon>
          修改
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="!readonly">
        <ion-button fill="clear" (click)="readonly = true; rbb_equipment_data = checking_rbb_equipment_data;">
          <ion-icon slot="start" src="assets/icon/edit.svg"></ion-icon>
          取消修改
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="!readonly">
        <ion-button fill="clear" (click)="save()">
          <ion-icon slot="start" name="save"></ion-icon>
          儲存
        </ion-button>
      </ion-buttons>
    </ng-container>

    <ion-buttons slot="end" *ngIf="rbb_equipment_id == null">
      <ion-button fill="clear" (click)="createNewRbbEquipment()">
        <ion-icon slot="start" name="save"></ion-icon>
        建立先租後買設備
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <!-- <input style="display: none;" type="file" #upload_img accept="image/x-png,image/jpeg" (change)="uploadImg()"> -->

  <div class="ion-margin" *ngIf="rbb_equipment_data != null">
    <ion-grid>

      <ion-row class="default-container">
        <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
          <ion-item class="input-item readonly" mode="md" lines='none' button='false'>
            <ion-label class="ion-text-wrap" position="stacked">ID</ion-label>
            <ion-input readonly [value]="rbb_equipment_data.id" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
          <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
            <ion-label class="ion-text-wrap">禁用</ion-label>
            <ion-checkbox [disabled]="readonly" [(ngModel)]="rbb_equipment_data.disabled" slot="end"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
          <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
            <ion-label class="ion-text-wrap" position="stacked">中文名稱</ion-label>
            <ion-input [readonly]="readonly" [(ngModel)]="rbb_equipment_data.zh_name" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
          <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
            <ion-label class="ion-text-wrap" position="stacked">英文名稱</ion-label>
            <ion-input [readonly]="readonly" [(ngModel)]="rbb_equipment_data.en_name" type="text"></ion-input>
          </ion-item>
        </ion-col>
        
        <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
          <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
            <ion-label class="ion-text-wrap" position="stacked">價錢</ion-label>
            <ion-input [readonly]="readonly" min="0" [(ngModel)]="rbb_equipment_data.price" type="number"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>


</ion-content>