
<ion-content class="login-page">
  <mat-progress-bar *ngIf="commonService.isLoading" mode="query"></mat-progress-bar>
  <div class="login-bg-glow"></div>
  <ion-grid fixed class="ion-padding-start ion-padding-end login-grid">
    <ion-row class="login-row">
      <ion-col offset-xs='1' size-xs="10" offset-sm='2' size-sm="8" offset-md='2' size-md="8" offset-lg='3' size-lg="6"
        offset-xl='3.5' size-xl='5' class="ion-align-self-center ion-text-center">
        <ion-row class="ion-padding login-card">

          <ion-col size="12" class="login-brand-wrap">
            <ion-img class="login-logo" src="assets/icon/wasp_logo.png"></ion-img>
            <h2 class="login-title">GoSwap 共享汽車</h2>
            <p class="login-subtitle">請登入管理後台</p>
          </ion-col>

          <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <ion-input (keydown.enter)="login()" class="login-input" [(ngModel)]="username" type="text"
              placeholder="用戶名稱"></ion-input>
          </ion-col>
          <ion-col size="12" class=" ion-margin-bottom">
            <ion-input (keydown.enter)="login()" class="login-input" [(ngModel)]="password" type="password"
              placeholder="密碼"></ion-input>
          </ion-col>

          <ion-col size="6" class="ion-text-left">
            <ion-chip *ngIf="dev" color="warning" outline="true" class="dev-chip">Development</ion-chip>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-button color="primary" class="login-submit-btn" (click)="login()">登入</ion-button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
