<ion-app>
    <mat-progress-bar class="loading_mat_progress" *ngIf="commonService.isLoading" mode="query"></mat-progress-bar>
    <div class="loading_blur" *ngIf="commonService.isLoading"></div>
    <!-- <ion-split-pane contentId="menu-content" when="md"> -->
    <ion-split-pane contentId="menu-content" when="lg">
        <ion-menu #menu swipeGesture="false" [style.display]="current_url.includes('login') ? 'none' : ''"
            (ionWillOpen)="forceMenuScrollable()" (ionDidOpen)="forceMenuScrollable()"
            contentId="menu-content" type="reveal" side="start">
            <!-- <ion-menu swipeGesture="false" [ngStyle]="{display: commonService?.show_sidemenu ? '' : 'none'}"
      [style.display]="current_url.includes('login') ? 'none' : ''" contentId="menu-content" type="overlay" side="start" > -->
            <ion-header class="ion-no-border bg-major-color">
                <ion-toolbar class="bg-major-color">

                    <!-- <ion-buttons slot="start">
            <ion-button >
              <ion-toggle [checked]="commonService?.dark_mode" (click)="commonService?.toggleDarkTheme()"></ion-toggle>
              Dark mode
            </ion-button>
          </ion-buttons> -->
                    <ion-title>{{authService?.getAdminData()?.username}} (v{{('appVersion' | env)}}{{('production' |
                        env) ? '' : ' 測試環境'}})</ion-title>
                </ion-toolbar>

            </ion-header>
            <ion-content class="bg-color" scrollY="true">
                <div class="ion-text-center">
                    <img style="width: 150px;" src="assets/icon/wasp_logo.png" alt="">

                </div>

                <ion-row class="row_div"
                    *ngIf="authService.adminData.value != null && authService.adminData.value?.type != adminType.maintainer && authService.adminData.value?.type != adminType.owner && authService.adminData.value?.type != adminType.buyer && authService.adminData.value?.type != adminType.sales && authService.adminData.value?.type != adminType.pickup_dropoff">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of menuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row class="row_div" *ngIf="authService.adminData.value?.type == adminType.maintainer">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of maintainerMenuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>

                </ion-row>

                <ion-row class="row_div" *ngIf="authService.adminData.value?.type == adminType.buyer">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of buyerMenuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>

                </ion-row>

                <ion-row class="row_div" *ngIf="authService.adminData.value?.type == adminType.sales">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of salesMenuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>
                </ion-row>


                <ion-row class="row_div" *ngIf="authService.adminData.value?.type == adminType.owner">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of ownerMenuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>

                </ion-row>

                <ion-row class="row_div" *ngIf="authService.adminData.value?.type == adminType.pickup_dropoff">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-accordion-group [multiple]="true" [value]="openedMenuGroupKeys" class="menu-accordion">
                            <ion-accordion *ngFor="let group of pickupDropoffMenuGroups" [value]="group.key" toggleIcon="chevron-down">
                                <ion-item slot="header" lines="none" class="menu-group-header">
                                    <ion-label>{{group.label}}</ion-label>
                                </ion-item>
                                <div slot="content" class="submenu-grid">
                                    <ion-menu-toggle auto-hide="false" *ngFor="let p of group.pages; let i = index">
                                        <div matRipple class="nav-btn submenu-btn" (click)="pageClick(p, i)" routerDirection="root"
                                            [routerLink]="[p.url]" [class.selected]="isPageSelected(p.url)">
                                            <ion-icon [src]="isPageSelected(p.url) ? p.icon_selected : p.icon"></ion-icon>
                                            <ion-label class="ion-text-center">{{p.title}}</ion-label>
                                        </div>
                                    </ion-menu-toggle>
                                </div>
                            </ion-accordion>
                        </ion-accordion-group>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <div matRipple class="nav-btn logout-btn" (click)="authService?.Logout()">
                            <ion-icon src="assets/icon/menu_logout.svg"></ion-icon>
                            <ion-label>登出</ion-label>
                        </div>
                    </ion-col>

                </ion-row>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="menu-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
