<ion-chip [class]="order_status_style.cssClass" mode="ios" outline="false" *ngIf="order_status_style != null">
  <ion-label>{{order_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="payment_status_style.cssClass" mode="ios" outline="false" *ngIf="payment_status_style != null">
  <ion-label>{{payment_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="violation_status_style.cssClass" mode="ios" outline="false" *ngIf="violation_status_style != null">
  <ion-label>{{violation_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="car_viewing_status_style.cssClass" mode="ios" outline="false" *ngIf="car_viewing_status_style != null">
  <ion-label>{{car_viewing_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="compensation_payment_status_style.cssClass" mode="ios" outline="false" *ngIf="compensation_payment_status_style != null">
  <ion-label>{{compensation_payment_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="charge_status_style.cssClass" mode="ios" outline="false" *ngIf="charge_status_style != null">
  <ion-label>{{charge_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="prerent_order_status_style.cssClass" mode="ios" outline="false" *ngIf="prerent_order_status_style != null">
  <ion-label>{{prerent_order_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="appointment_status_style.cssClass" mode="ios" outline="false" *ngIf="appointment_status_style != null">
  <ion-label>{{appointment_status_style?.text}}</ion-label>
</ion-chip>
<ion-chip [class]="inspection_status_style.cssClass" mode="ios" outline="false" *ngIf="inspection_status_style != null">
  <ion-label>{{inspection_status_style?.text}}</ion-label>
</ion-chip>