<ion-header class="ion-no-border">
    <ion-toolbar class="bg-major-color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title class="hidden-xs-down">易通行、公里費、其他罰款</ion-title>
        <ion-buttons slot="end">
            <ion-button
                (click)="select_multiple_mode = !select_multiple_mode; selected_charge_id_list$.next([]); selected_charge_data_list$.next([]);"
                fill="clear">
                {{select_multiple_mode ? '取消操作' : '繳交多項紀錄'}}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="select_multiple_mode">
            <ion-button (click)="triggerImgUpload()" fill="clear" [color]="bank_transfer_img_url == '' ? 'danger' : 'success'">
                <ion-icon slot="start" name="cloud-upload"></ion-icon>
                上載付款證明相片
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="select_multiple_mode && (selected_charge_data_list$ | async)?.length > 0">
            <ion-button fill="clear" (click)="PayChargeData()">
                繳交{{(selected_charge_data_list$ | async)?.length}}筆({{(selected_charge_amount$ | async) |
                currency:'HKD':'symbol-narrow':'1.0-1'}})易通行
            </ion-button>
        </ion-buttons>
        <ng-container *ngIf="!select_multiple_mode">
            <ion-buttons slot="end">
                <ion-button (click)="triggerCsvUpload()" fill="clear">
                    <ion-icon slot="start" name="cloud-upload"></ion-icon>
                    上載易通行csv
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="commonService?.openCMSPage('/charge-detail', 'root')" fill="clear">
                    新增費用/罰款
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end" (click)="getChargeDataList(true)">
                <ion-button fill="clear" class="export-excel-btn">
                    <ion-icon slot="start" src="assets/icon/excel.svg"></ion-icon>
                    輸出至Excel
                </ion-button>
            </ion-buttons>
        </ng-container>

    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <input style="display: none;" type="file" #upload_csv accept=".csv" (change)="uploadCsv()">

    <input style="display: none;" type="file" #upload_img
        accept="image/x-png,image/jpeg,application,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        (change)="uploadImg()">

    <div class="ion-margin " *ngIf="unpaid_ranking">
        <ion-chip color="tertiary" mode="ios" outline="true" *ngFor="let item of unpaid_ranking"
            (click)="commonService.openCMSPage('/user-detail?user_id='+item.user_id, 'blank')">
            <ion-label>{{item?.user_data.zh_full_name}} | {{item?.user_data.phone}} | {{item?.count}}筆 |
                ${{item?.total_amount }}</ion-label>
        </ion-chip>
    </div>

    <div class="ion-margin">
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-align-self-center">
                <ion-select (ionChange)="resetAndGetData($event)" class="filter-ion-select" interface="popover"
                    mode="ios" [(ngModel)]="status" multiple="false" cancelText="取消" okText="確認" placeholder="按金狀態">
                    <ion-select-option value="">全部狀態</ion-select-option>
                    <ion-select-option value="awaiting_payment">未付款</ion-select-option>
                    <ion-select-option value="awaiting_verification">審核中</ion-select-option>
                    <ion-select-option value="paid">已繳付</ion-select-option>
                    <ion-select-option value="cancelled">已取消</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-align-self-center">
                <ion-select (ionChange)="resetAndGetData($event)" class="filter-ion-select" interface="popover"
                    mode="ios" [(ngModel)]="type" multiple="false" cancelText="取消" okText="確認" placeholder="按金狀態">
                    <ion-select-option value="">全部類型</ion-select-option>
                    <ion-select-option *ngFor="let item of chargeTypeList" [value]="item">
                        <ng-container *ngIf="item == chargeType.hketoll_fee">易通行</ng-container>
                        <ng-container *ngIf="item == chargeType.odometer_fee">公里費</ng-container>
                        <ng-container *ngIf="item == chargeType.late_drop_off_penalty">遲還車罰款</ng-container>
                        <ng-container *ngIf="item == chargeType.insufficient_battery_or_oil_penalty">電/油量不足罰款</ng-container>
                        <ng-container *ngIf="item == chargeType.incorrect_drop_off_location_penalty">非正確地點還車罰款</ng-container>
                        <ng-container *ngIf="item == chargeType.super_charge_idle_fee">超級充電站超時佔用費</ng-container>
                    </ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-align-self-center">
                <ion-item class="input-filter-item" mode="md" lines='none' button='false'>
                    <ion-label class="ion-text-wrap">
                        <ng-container *ngIf="!(user_id != null && user_id != '')">
                            用戶
                        </ng-container>
                        <ng-container *ngIf="user_id != null && user_id != ''">
                            {{getUserDataById(user_id)?.username}} - {{getUserDataById(user_id)?.zh_full_name}} -
                            {{getUserDataById(user_id)?.phone}}
                        </ng-container>
                    </ion-label>
                    <ionic-selectable #ionSelectable (onOpen)="onOpen($event)" (onChange)="onUserChange($event)"
                        (onSearch)="commonService?.searchUser($event)" [(ngModel)]="user_id" itemValueField="id"
                        shouldStoreItemValue="id" itemTextField="plate" [items]="(all_user_data_list$ | async)"
                        [canClear]="true" [canSearch]="true" [isMultiple]="false" confirmButtonText="確認"
                        clearButtonText="全部反選" closeButtonText="取消" [hasVirtualScroll]="true">
                        <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                            {{port.zh_full_name || port.username}} - {{port.phone}}
                        </ng-template>
                    </ionic-selectable>
                </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" class="ion-align-self-center"
                *ngIf="(all_car_data_list$ | async) != null">
                <ion-item class="input-filter-item" mode="md" lines='none' button='false'>
                    <ion-label class="ion-text-wrap">
                        <ng-container *ngIf="!(car_id != null && car_id != '')">
                            車輛
                        </ng-container>
                        <ng-container *ngIf="car_id != null && car_id != ''">
                            {{getCarDataById(car_id)?.plate}} ({{getCarDataById(car_id)?.model}})
                        </ng-container>
                    </ion-label>
                    <ionic-selectable (onChange)="onCarChange($event)" (onSearch)="commonService?.searchCar($event)"
                        [(ngModel)]="car_id" itemValueField="id" shouldStoreItemValue="id" itemTextField="plate"
                        [items]="(all_car_data_list$ | async)" [canClear]="true" [canSearch]="true" [isMultiple]="false"
                        confirmButtonText="確認" clearButtonText="全部反選" closeButtonText="取消">
                        <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                            {{port.model}} - {{port.plate}}
                        </ng-template>
                    </ionic-selectable>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <div class="ion-margin table_container">
        <ion-row class="table_header full-width hidden-sm-down">
            <ion-col size="1">
                <ion-button class="default-ion-btn fit-content sort_header_btn" (click)="switchSorting('id')">
                    <ion-icon *ngIf="sorting == 'id' && direction == 'ASC'" slot="start" name="arrow-up-outline">
                    </ion-icon>
                    <ion-icon *ngIf="sorting == 'id' && direction == 'DESC'" slot="start" name="arrow-down-outline">
                    </ion-icon>
                    ID
                </ion-button>
            </ion-col>
            <ion-col size="1.5">
                <ion-button class="default-ion-btn fit-content sort_header_btn" (click)="switchSorting('create_date')">
                    <ion-icon *ngIf="sorting == 'create_date' && direction == 'ASC'" slot="start"
                        name="arrow-up-outline">
                    </ion-icon>
                    <ion-icon *ngIf="sorting == 'create_date' && direction == 'DESC'" slot="start"
                        name="arrow-down-outline">
                    </ion-icon>
                    建立日期
                </ion-button>
            </ion-col>
            <ion-col size="1.5">
                <ion-button class="default-ion-btn fit-content sort_header_btn" (click)="switchSorting('date')">
                    <ion-icon *ngIf="sorting == 'date' && direction == 'ASC'" slot="start" name="arrow-up-outline">
                    </ion-icon>
                    <ion-icon *ngIf="sorting == 'date' && direction == 'DESC'" slot="start" name="arrow-down-outline">
                    </ion-icon>
                    類型
                </ion-button>
            </ion-col>
            <ion-col size="1">
                <ion-button disabled class="disabled default-ion-btn fit-content sort_header_btn">
                    <!-- 類型 -->
                    金額(罰款)
                </ion-button>
            </ion-col>
            <ion-col size="1">
                <ion-button disabled class="disabled default-ion-btn fit-content sort_header_btn">
                    參考編號
                </ion-button>
            </ion-col>
            <ion-col size="1">
                <ion-button disabled class="disabled default-ion-btn fit-content sort_header_btn">
                    用戶
                </ion-button>
            </ion-col>
            <ion-col size="1">
                <ion-button disabled class="disabled default-ion-btn fit-content sort_header_btn">
                    狀態
                </ion-button>
            </ion-col>
            <ion-col size="2">
                <ion-button disabled class="disabled default-ion-btn fit-content sort_header_btn">
                    車輛
                </ion-button>
            </ion-col>

            <ion-col size="1.5">
                <ion-button *ngIf="select_multiple_mode" (click)="selectAll()" class="default-ion-btn fit-content">
                    全選
                </ion-button>
            </ion-col>
        </ion-row>

        <ng-container *ngIf="dataService?.table_data_list == null">
            <ion-row class="table_content full-width ske_table_content" *ngFor="let item of [].constructor(10)">
                <ion-col size="1">
                </ion-col>
                <ion-col size="1.5">
                </ion-col>
                <ion-col size="1.5">
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col size="2">
                </ion-col>

                <ion-col size="1.5">
                </ion-col>
            </ion-row>
        </ng-container>

        <ng-container *ngIf="dataService?.table_data_list != null && dataService?.table_data_list.length == 0">
            <ion-row class="table_content full-width ske_table_content">
                <ion-col size="12">
                    <h3>找不到收費事項</h3>
                </ion-col>
            </ion-row>
        </ng-container>

        <ng-container *ngIf="dataService?.table_data_list != null">
            <ion-row class="table_content full-width" *ngFor="let item of dataService.table_data_list">
                <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
                    <span class="hidden-md-up">ID：</span>
                    <span>{{item.id}}</span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="1.5" size-lg="1.5">
                    <span class="hidden-md-up">建立日期：</span>
                    <span>{{item?.create_date | date : 'yyyy-MM-dd HH:mm'}}</span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="1.5" size-lg="1.5">
                    <span class="hidden-md-up">類型：</span>
                    <span>
                        <ng-container *ngIf="item?.type == chargeType.hketoll_fee">易通行</ng-container>
                        <ng-container *ngIf="item?.type == chargeType.odometer_fee">公里費</ng-container>
                        <ng-container *ngIf="item?.type == chargeType.late_drop_off_penalty">遲還車罰款</ng-container>
                        <ng-container *ngIf="item?.type == chargeType.insufficient_battery_or_oil_penalty">電/油量不足罰款</ng-container>
                        <ng-container *ngIf="item?.type == chargeType.incorrect_drop_off_location_penalty">非正確地點還車罰款</ng-container>
                        <ng-container *ngIf="item?.type == chargeType.super_charge_idle_fee">超級充電站超時佔用費</ng-container>
                    </span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
                    <!-- <span class="hidden-md-up">類型：</span> -->
                    <span class="hidden-md-up">金額(罰款)：</span>
                    <span>
                        <!-- <ng-container *ngIf="item.type == chargeType.hketoll_fee">易通行收費</ng-container> -->
                        {{item?.amount | currency:'HKD':'symbol-narrow':'1.0-1'}}
                        <ng-container *ngIf="item.penalty > 0">
                            <br>
                            ({{item?.penalty | currency:'HKD':'symbol-narrow':'1.0-1'}})
                        </ng-container>
                        <br>
                    </span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
                    <span class="hidden-md-up">參考編號</span>
                    <span>
                        {{item?.reference_number}}
                    </span>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
                    <span class="hidden-md-up">用戶：</span>
                    <span class="clickable"
                        (click)="commonService.openCMSPage('/user-detail?user_id='+item.user_id, 'blank')">{{item?.user_data?.zh_full_name}}
                        <br> {{item.user_data?.phone}}</span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="1" size-lg="1">
                    <span class="hidden-md-up">狀態：</span>
                    <span>
                        <app-status-chip [data_type]="'charge_data'" [status]="item.status"></app-status-chip>
                    </span>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="2" size-lg="2">
                    <span class="hidden-md-up">車輛：</span>
                    <span class="clickable"
                        (click)="commonService.openCMSPage('/car-detail?car_id='+item.car_id, 'blank')">
                        <img [src]="('media_url' | env)+item?.car_data?.cover_img_url_list[0]" alt="">
                        <br>
                        {{item?.car_data?.plate}}
                        <br>
                        {{item?.car_data?.model}}
                    </span>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="1.5" size-lg="1.5">
                    <ion-button *ngIf="!select_multiple_mode"
                        (click)="commonService?.openCMSPage('/charge-detail?charge_id='+item.id, 'root')"
                        class="default-ion-btn" fill="clear">
                        查看或更改
                    </ion-button>
                    <ion-checkbox *ngIf="select_multiple_mode"
                        [checked]="(selected_charge_id_list$ | async)?.includes(item.id)"
                        [disabled]="item?.status != 'awaiting_payment'"
                        (ionChange)="ionChange($event, item)"></ion-checkbox>
                </ion-col>
            </ion-row>

            <ion-row class="table_footer full-width" *ngIf="dataService?.table_data_list.length > 0">
                <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="8">
                    <div class="nav_container space_between full-width">
                        <div class="left_part">
                            <ion-button [disabled]="page == 1" (click)="goPreviousPage()"
                                class="default-ion-btn fit-content nav_page_btn">
                                <ion-icon name="chevron-back-outline"></ion-icon>
                                <span class="ion-margin-start" class="hidden-sm-down">上一頁</span>
                            </ion-button>
                        </div>
                        <div class="middle_part">
                            <ion-button *ngIf="page != 1" (click)="selectPage(1)"
                                class="default-ion-btn fit-content page_num_btn">
                                <ion-icon name="caret-back-outline"></ion-icon>
                            </ion-button>
                            <ion-button *ngIf="page-2 >= 1" (click)="selectPage(page-2)"
                                class="default-ion-btn fit-content page_num_btn hidden-sm-down">
                                {{page-2}}
                            </ion-button>
                            <ion-button *ngIf="page-1 >= 1" (click)="selectPage(page-1)"
                                class="default-ion-btn fit-content page_num_btn">
                                {{page-1}}
                            </ion-button>
                            <ion-button (click)="selectPage(page)"
                                class="default-ion-btn fit-content current_page_num_btn">
                                {{page}}
                            </ion-button>
                            <ion-button *ngIf="page+1 <= dataService?.table_data_number_of_page"
                                (click)="selectPage(page+1)" class="default-ion-btn fit-content page_num_btn">
                                {{page+1}}
                            </ion-button>
                            <ion-button *ngIf="page+2 <= dataService?.table_data_number_of_page"
                                (click)="selectPage(page+2)"
                                class="default-ion-btn fit-content page_num_btn hidden-sm-down">
                                {{page+2}}
                            </ion-button>
                            <ion-button *ngIf="page != dataService?.table_data_number_of_page"
                                (click)="selectPage(dataService.table_data_number_of_page)"
                                class="default-ion-btn fit-content page_num_btn">
                                <ion-icon name="caret-forward-outline"></ion-icon>
                            </ion-button>
                        </div>
                        <div class="right_part">
                            <ion-button [disabled]="page == dataService?.table_data_number_of_page"
                                (click)="goNextPage()" class="default-ion-btn fit-content nav_page_btn">
                                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

                                <span class="ion-margin-end" class="hidden-sm-down">下一頁</span>
                            </ion-button>
                        </div>
                    </div>

                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
                    <div class="table_pagination_option">
                        <p class="display_info">
                            顯示
                            {{(page-1)*limit+dataService?.table_data_list.length}}／{{dataService?.table_data_total_number}}（共{{dataService.table_data_number_of_page}}頁）
                        </p>
                        <mat-select (selectionChange)="limitChange($event)" class="table_limit"
                            [value]="limit.toString()">
                            <mat-option value="10">10</mat-option>
                            <mat-option value="25">25</mat-option>
                            <mat-option value="50">50</mat-option>
                            <mat-option value="100">100</mat-option>
                            <mat-option value="500">500</mat-option>
                        </mat-select>
                    </div>

                </ion-col>
            </ion-row>
        </ng-container>
    </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ng-template>
        <ion-content class="ion-padding">
            <ion-header class="ion-no-border">
                <ion-toolbar>
                    <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">
                            <ion-icon slot="start" name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <div>
                <p>總記錄: {{import_hke_toll_result_data?.total_count}}個</p>
                <p>成功上載記錄: {{import_hke_toll_result_data?.success_count}}個</p>
                <p>重覆記錄: {{import_hke_toll_result_data?.duplicate_count}}個</p>
                <p>重覆記錄(參考編號): {{import_hke_toll_result_data?.duplicate_list.join(', ')}}</p>
                <p>訂單配對失敗記錄: {{import_hke_toll_result_data?.not_matching_count}}個</p>
                <p>訂單配對失敗記錄(參考編號): {{import_hke_toll_result_data?.not_matching_list.join(', ')}}</p>
                <p>車牌配對失敗記錄: {{import_hke_toll_result_data?.invalid_plate_count}}個</p>
                <p>車牌配對失敗記錄(參考編號): {{import_hke_toll_result_data?.invalid_plate_list.join(', ')}}</p>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>