.cover-img {
    margin: auto;
}

.plan-div {
    align-items: center;
    margin-bottom: 6px;
    display: inline-flex;
    width: 100%;
    ion-item {
        width: 50%;
    }
}

.sold-alert-div {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background: var(--ion-color-secondary);
    border-radius: 5px;
    h2 {
        color: var(--ion-color-primary);
    }
    ion-icon {
        margin-right: 12px;
        font-size: 1.4rem;
        color: var(--ion-color-primary);
    }
}

.top-btn {
    background: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
    border-radius: 8px;
    --border-radius: 8px;
    min-height: 100px;
    font-size: 1.1rem;
    ion-icon {
        font-size: 1.6rem;
    }
}

.img-item {
    // position: relative;
    // .remove-icon{
    //     position: absolute;
    //     right: 12px;
    //     top: 12px;
    //     font-size: 1.6rem;
    //     cursor: pointer;
    // }
    .remove-icon {
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.update_btn {
    --background: var(--ion-color-primary);
    --color: #333333;
    color: #333333;
}

.cancel_btn {
    --background: #e9e9f2;
    --color: #333333;
    color: #333333;
}

.sorting_container {
    margin-top: 0 !important;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    .sort-list {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .sort-box {
        padding: 12px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        box-sizing: border-box;
        cursor: move;
        background: #F7F7F7;
        font-size: 16px;
        margin-bottom: 12px;
        border-radius: 10px;
        .invisible {
            visibility: hidden;
        }
        .sort-icon {
            min-width: 80px;
            max-width: 5%;
            margin: 0 16px;
            font-size: 26px;
        }
        .img_container {
            min-width: 40%;
            max-width: 40%;
            ion-thumbnail {
                margin: 0 12px;
                img {
                    border-radius: 5px;
                }
            }
        }
        .name {
            min-width: 30%;
            max-width: 30%;
            margin: 0 16px;
            font-size: 16px;
            color: #1C1D21;
        }
        .sku,
        .color,
        .size,
        .custom_attribute {
            min-width: 20%;
            max-width: 20%;
            margin: 0 16px;
            font-size: 14px;
            color: #8181A5;
        }
    }
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    .cdk-drag-placeholder {
        opacity: 0;
    }
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .example-box:last-child {
        border: none;
    }
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}
.input-item{
    margin-bottom: 8px;
}