<div class="gallery-shell">
  <button class="close-btn" type="button" (click)="close()" aria-label="Close preview">
    <ion-icon name="close"></ion-icon>
  </button>

  <div class="counter" *ngIf="(img_url_list?.length || 0) > 0">
    {{currentIndex + 1}} / {{img_url_list.length}}
  </div>

  <button *ngIf="canGoBack" class="nav-btn nav-left" type="button" (click)="back()" aria-label="Previous image">
    <ion-icon name="chevron-back"></ion-icon>
  </button>
  <ion-slides #slides mode="ios" pager="true" scrollbar="fales" (ionSlideDidChange)="onSlideDidChange()">
    <ion-slide *ngFor="let item of img_url_list; let i = index">
      <div class="slide-card" [style.max-width]="width == '' ? '' : width+'px'">
        <img [style.max-height]="height == '' ? '' : height+'px'" [src]="('media_url' | env)+item">
      </div>
    </ion-slide>
  </ion-slides>
  <button *ngIf="canGoNext" class="nav-btn nav-right" type="button" (click)="next()" aria-label="Next image">
    <ion-icon name="chevron-forward"></ion-icon>
  </button>
</div>
