.equipment-item,
.coupon-item,
.product-item {
    --background: transparent;
//   ion-label {
//     font-size: 0.9rem;
//   }
//   ion-icon {
//     font-size: 1rem;
//   }
//   .quantity {
//     color: var(--ion-color-secondary);
//     margin-right: 4px;
//   }
}
