<ion-header class="ion-no-border">
    <ion-toolbar class="bg-major-color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>



        <ion-title class="hidden-xs-down">優惠券</ion-title>

        <ng-container *ngIf="coupon_id != null">
            <ion-buttons slot="end" *ngIf="readonly">
                <ion-button color="tertiary" fill="outline" (click)="commonService?.openCMSPage('/notification-detail?user_id_list='+encodeArray(coupon_data.user_id_list), 'blank')">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    發送通知
                </ion-button>
            </ion-buttons>

            <ion-buttons slot="end" *ngIf="readonly">
                <ion-button color="danger" fill="clear" (click)="commonService?.deleteDataAlert(coupon_data)">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    刪除
                </ion-button>
            </ion-buttons>

            <ion-buttons slot="end" *ngIf="readonly">
                <ion-button fill="clear" (click)="readonly = false" [disabled]="('production' | env) && (admin_data | async) && !(admin_data | async)?.authority_list.includes(authority.offer_discount)">
                    <ion-icon slot="start" src="assets/icon/edit.svg"></ion-icon>
                    修改
                </ion-button>
            </ion-buttons>

            <ion-buttons slot="end" *ngIf="!readonly">
                <ion-button fill="clear" (click)="readonly = true; coupon_data = checking_coupon_data;">
                    <ion-icon slot="start" src="assets/icon/edit.svg"></ion-icon>
                    取消修改
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end" *ngIf="!readonly">
                <ion-button fill="clear" (click)="save()">
                    <ion-icon slot="start" name="save"></ion-icon>
                    儲存
                </ion-button>
            </ion-buttons>
        </ng-container>

        <ion-buttons slot="end" *ngIf="coupon_id == null">
            <ion-button fill="clear" (click)="createNewCoupon()" [disabled]="('production' | env) && (admin_data | async) && !(admin_data | async)?.authority_list.includes(authority.offer_discount)">
                <ion-icon slot="start" name="save"></ion-icon>
                建立優惠券
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
    <div class="ion-margin" *ngIf=" coupon_data != null">
        <ion-grid>

            <ion-row class="default-container">
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item readonly" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">ID</ion-label>
                        <ion-input readonly [value]="coupon_data.id" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item readonly" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">建立日期</ion-label>
                        <ion-input readonly value="{{coupon_data.create_date | date: 'yyyy-MM-dd'}}"
                            type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">禁用</ion-label>
                        <ion-checkbox [disabled]="readonly" [(ngModel)]="coupon_data.disabled" slot="end"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">系統自動派發</ion-label>
                        <ion-checkbox disabled [(ngModel)]="coupon_data.is_generated_by_system" slot="end"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">可重用</ion-label>
                        <ion-checkbox [disabled]="readonly" [(ngModel)]="coupon_data.reusable" slot="end"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">已使用</ion-label>
                        <ion-checkbox [disabled]="readonly" [(ngModel)]="coupon_data.used" slot="end"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="3">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">只限首張帳單使用</ion-label>
                        <ion-checkbox [disabled]="readonly" [(ngModel)]="coupon_data.only_first_order" slot="end"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">中文標題(會顯示於app)</ion-label>
                        <ion-input [readonly]="readonly" [(ngModel)]="coupon_data.zh_title" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">英文標題(會顯示於app)</ion-label>
                        <ion-input [readonly]="readonly" [(ngModel)]="coupon_data.en_title" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label position="stacked">中文描述(會顯示於app)</ion-label>
                        <ion-textarea [readonly]="readonly" [(ngModel)]="coupon_data.zh_description" type="text"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">英文描述(會顯示於app)</ion-label>
                        <ion-textarea [readonly]="readonly" [(ngModel)]="coupon_data.en_description" type="text"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">備注(不會顯示於app)</ion-label>
                        <ion-input [readonly]="readonly" [(ngModel)]="coupon_data.remark" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item readonly" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">優惠碼</ion-label>
                        <ion-input readonly [value]="coupon_data.code" type="text"></ion-input>
                    </ion-item>
                    <ion-text class="hint">系統將自行產生</ion-text>
                </ion-col>

                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label position="stacked">優惠類型</ion-label>
                        <ion-select [disabled]="readonly" [(ngModel)]="coupon_data.discount_type" multiple="false" cancelText="取消" okText="確認">
                            <ion-select-option value="percentage">百分比</ion-select-option>
                            <ion-select-option value="price">現金</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">優惠數值</ion-label>
                        <ion-input min="1" [max]="coupon_data.discount_type == 'percentage' ? '99' : '9999999999999'" [readonly]="readonly" [(ngModel)]="coupon_data.discount_amount" type="number"></ion-input>
                    </ion-item>
                    <ion-text class="hint" *ngIf="coupon_data.discount_type == 'percentage'">
                        減{{coupon_data.discount_amount/100 | percent}}
                    </ion-text>
                    <ion-text class="hint" *ngIf="coupon_data.discount_type == 'price'">減${{coupon_data.discount_amount | number}}
                    </ion-text>
                </ion-col>

                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">最少租用日數(1-30)</ion-label>
                        <ion-input min="1" max="30"  [readonly]="readonly" [(ngModel)]="coupon_data.minimum_booking_days" type="number">
                        </ion-input>
                        <ion-text class="hint">如優惠券只for月租->輸入30</ion-text>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">最多租用日數(1-29)</ion-label>
                        <ion-input min="1" max="29" [readonly]="readonly" [(ngModel)]="coupon_data.maximum_booking_days" type="number">
                        </ion-input>
                        <ion-text class="hint">如優惠券只for日租->輸入29，如同時for日租／月租，不需要輸入</ion-text>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <mat-form-field appearance="fill" style="display: none;">
                        <mat-label>開始及結束日期</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input #start_date [value]="coupon_data.start_date != null && coupon_data.start_date != '' ? coupon_data.start_date.split('T')[0] : ''" disabled="true" matStartDate placeholder="開始日期">
                            <input #end_date [value]="coupon_data.expiry_date != null && coupon_data.expiry_date != '' ? coupon_data.expiry_date.split('T')[0] : ''" disabled="true" matEndDate placeholder="結束日期" (dateChange)="selectionChanged(start_date, end_date)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker touchUi #picker [disabled]="readonly"></mat-date-range-picker>
                    </mat-form-field>
                    <ion-item class="input-item with-icon" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap" position="stacked">開始及結束日期</ion-label>
                        <ion-input *ngIf="coupon_data.start_date != null && coupon_data.start_date != '' && coupon_data.expiry_date != null && coupon_data.expiry_date != ''" readonly value="{{coupon_data.start_date | date : 'yyyy-MM-dd HH:mm'}} - {{coupon_data.expiry_date | date : 'yyyy-MM-dd HH:mm'}}"
                            type="text"></ion-input>
                        <ion-input *ngIf="!(coupon_data.start_date != null && coupon_data.start_date != '' && coupon_data.expiry_date != null && coupon_data.expiry_date != '')" readonly value="" type="text"></ion-input>
                        <ion-icon *ngIf="(coupon_data.start_date != null && coupon_data.start_date != '') || (coupon_data.expiry_date != null && coupon_data.expiry_date != '')" (click)="resetCouponDate()" slot="end" name="close-outline"></ion-icon>
                        <mat-datepicker-toggle slot="end" matSuffix [for]="picker"></mat-datepicker-toggle>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">選擇限定使用的車輛（如不選將全部可用）</ion-label>
                        <ionic-selectable (onSearch)="commonService?.searchCar($event)" [disabled]="readonly" [(ngModel)]="coupon_data.car_id_list" itemValueField="id" shouldStoreItemValue="id" itemTextField="plate" [items]="(all_car_data_list$ | async)" [canClear]="true" [canSearch]="true" [isMultiple]="true"
                            confirmButtonText="確認" clearButtonText="全部反選" closeButtonText="取消" [hasVirtualScroll]="true">
                            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                                {{port.model}} - {{port.plate}}
                            </ng-template>
                            <ng-template ionicSelectableItemEndTemplate let-port="item" let-isPortSelected="isItemSelected">
                                <img class="select-end-img" *ngIf="port?.cover_img_url_list != null && port?.cover_img_url_list.length > 0" [src]="('media_url' | env)+port?.cover_img_url_list[0]" />
                            </ng-template>
                            <ng-template ionicSelectableValueTemplate let-ports="item">
                                <div class="ionic-selectable-value-item" *ngFor="let port of coupon_data.car_id_list">
                                    {{getCarDataById(port)?.plate}} ({{getCarDataById(port)?.model}})
                                </div>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
                    <ion-item class="input-item" [ngClass]="{'readonly': readonly}" mode="md" lines='none' button='false'>
                        <ion-label class="ion-text-wrap">選擇限定使用的用戶
                            <br>*限定用戶可以於app查看/使用優惠券
                            <br>*如不想客人知道優惠碼及自行使用，請不要選擇用戶
                            <br>*如不選即全部知道優惠碼的用戶可使用
                        </ion-label>
                        <ionic-selectable (onSearch)="commonService?.searchUser($event)" [disabled]="readonly" [(ngModel)]="coupon_data.user_id_list" itemValueField="id" shouldStoreItemValue="id" itemTextField="plate" [items]="(all_user_data_list$ | async)" [canClear]="true" [canSearch]="true" [isMultiple]="true"
                            confirmButtonText="確認" clearButtonText="全部反選" closeButtonText="取消" [hasVirtualScroll]="true">
                            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                                {{port.zh_full_name || port.username}} - {{port.phone}}
                            </ng-template>
                            <!-- <ng-template ionicSelectableValueTemplate let-ports="item">
                                <div class="ionic-selectable-value-item" *ngFor="let port of coupon_data.user_id_list">
                                    {{getUserDataById(port)?.zh_full_name || getUserDataById(port)?.username }} ({{getUserDataById(port)?.phone}})
                                </div>
                            </ng-template> -->
                            <ng-template ionicSelectableValueTemplate let-ports="item">

                                <ng-container *ngIf="coupon_data.user_id_list.length <= 10">
                                    <div class="ionic-selectable-value-item" *ngFor="let port of coupon_data.user_id_list;  let i=index;">
                                        {{getUserDataById(port)?.zh_full_name || getUserDataById(port)?.username}} - {{getUserDataById(port)?.phone}}
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="coupon_data.user_id_list.length > 10">
                                    已選取{{coupon_data.user_id_list.length}}個用戶
                                </ng-container>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                    <ion-button color="dark" (click)="coupon_data.user_id_list = having_deposit_user_id_list" fill="solid">
                        選擇按金客戶
                    </ion-button>
                    <ion-button color="dark" (click)="coupon_data.user_id_list = all_user_id_list_exluding_having_deposit" fill="solid">
                        選擇所有客戶（不包括按金客戶）
                    </ion-button>
                    <ion-button color="dark" (click)="coupon_data.user_id_list = having_past_order_user_id_list" fill="solid">
                        選擇過往客戶
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>


</ion-content>