<ion-header class="ion-no-border">
  <ion-toolbar class="bg-major-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>




    <ion-title class="hidden-xs-down">代領按金授權書</ion-title>

    <ion-buttons class="hidden-sm-down" slot="end">
      <ion-button fill="clear" (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        產生PDF
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-margin" *ngIf="deposit_data != null">
    <ion-grid>
      <ion-row>

        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">

          <ion-row class="default-container">
            <ion-col size="12">
              <div class="title-with-icon">
                <ion-label>申請人資料</ion-label>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">中文全名</ion-label>
                <ion-input [(ngModel)]="daf.user_zh_full_name" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">英文全名</ion-label>
                <ion-input [(ngModel)]="daf.user_en_full_name" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">身份證號碼</ion-label>
                <ion-input [(ngModel)]="daf.user_identity_number" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">地址</ion-label>
                <ion-input [(ngModel)]="daf.user_address" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-row class="default-container">
            <ion-col size="12">
              <div class="title-with-icon">
                <ion-label>車輛資料</ion-label>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">租用車輛登記號碼</ion-label>
                <ion-input [(ngModel)]="daf.car_register_number" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-row class="default-container">
            <ion-col size="12">
              <div class="title-with-icon">
                <ion-label>訂單資料</ion-label>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">合約租期</ion-label>
                <ion-input [(ngModel)]="daf.order_start_date_end_date" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4">
              <ion-item class="input-item" mode="md" lines='none' button='false'>
                <ion-label class="ion-text-wrap" position="stacked">按金額</ion-label>
                <ion-input [(ngModel)]="daf.deposit_amount" type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-row class="default-container">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
              <div>
                <h2>客人簽名</h2>
                <canvas class="signature-pad-canvas" #canvas2 width="250" height="200"
                  style="touch-action: none;"></canvas>
                <div>
                  <ion-button color="secondary" (click)="signaturePad2.clear();" fill="outline">
                    清除簽名
                  </ion-button>
                </div>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="hidden-sm-up ion-no-border">
  <ion-toolbar>
    <ion-button color="secondary" fill="outline" (click)="save()" expand="block">
      <ion-icon slot="start" name="save"></ion-icon>
      產生PDF
    </ion-button>
  </ion-toolbar>
</ion-footer>